<h1>Grid List Demo</h1>
<hr>
<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile rowspan="2">Title 1</mat-grid-tile>
    <mat-grid-tile>Title 2</mat-grid-tile>
    <mat-grid-tile>Title 3</mat-grid-tile>
    <mat-grid-tile>Title 4</mat-grid-tile>
</mat-grid-list>
<h6>rowheight based on px 100px</h6>
<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile >Title 1</mat-grid-tile>
    <mat-grid-tile>Title 2</mat-grid-tile>
    <mat-grid-tile>Title 3</mat-grid-tile>
    <mat-grid-tile>Title 4</mat-grid-tile>
</mat-grid-list>

<h6>rowheight based on ration 2:1</h6>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile >Title 1</mat-grid-tile>
    <mat-grid-tile>Title 2</mat-grid-tile>
    <mat-grid-tile>Title 3</mat-grid-tile>
    <mat-grid-tile>Title 4</mat-grid-tile>
</mat-grid-list>

<h6>rowheight based on style style="height: 200px"</h6>
<mat-grid-list cols="2" rowHeight="fit" style="height: 200px">
    <mat-grid-tile >Title 1</mat-grid-tile>
    <mat-grid-tile>Title 2</mat-grid-tile>
    <mat-grid-tile>Title 3</mat-grid-tile>
    <mat-grid-tile>Title 4</mat-grid-tile>
</mat-grid-list>

<h6>spacing in grid gutterSize="10px"</h6>
<mat-grid-list cols="2" rowHeight="fit" style="height: 200px" gutterSize="10px">
    <mat-grid-tile >Title 1</mat-grid-tile>
    <mat-grid-tile>Title 2</mat-grid-tile>
    <mat-grid-tile>Title 3</mat-grid-tile>
    <mat-grid-tile>Title 4</mat-grid-tile>
</mat-grid-list>

