<div class="mat-headline">Buttons Demo</div>
<br>
<div>
    <button mat-button>Mat Button</button>
    <button mat-raised-button>Mat Raised Button</button>
    <button mat-flat-button>Mat Flat Button</button>
    <button mat-stroked-button>Mat stroked Button</button>
</div>

<div class="mat-title">[1].Various</div>
<div>
    <button mat-icon-button>Mat Icon Button</button>
    <button mat-fab>Mat Fab</button>
    <button mat-mini-fab>Mat Mini  Fab</button>
</div>
<br>
<div class="mat-title">[2]. Color Button</div>
<div>
    <button color="primary" mat-button>Primary color</button>
    <button color="accent" mat-button>Accent color</button>
    <button color="warn" mat-button>warn color</button>
    <button color="primary" mat-raised-button>Primary color</button>
    <button color="accent" mat-raised-button>Accent color</button>
    <button color="warn" mat-raised-button>warn color</button>
    <button color="primary" mat-stroked-button>Primary color</button>
    <button color="accent" mat-stroked-button>Accent color</button>
    <button color="warn" mat-stroked-button>warn color</button>
    
</div>

<br>
<div class="mat-title">[3]. Disable Ripple Effect</div>
<button color="primary" disableRipple mat-button>Primary color</button>
<button color="accent" disableRipple mat-button>Accent color</button>
<button color="warn" disableRipple mat-button>warn color</button>

<br>
<div class="mat-title">[4]. Button Toggle</div>
