<h1>Checkbox-Radiobutton Demo</h1>
<hr>

<h6>Checkbox</h6>
<mat-checkbox>
    Subscribe
</mat-checkbox><br/>
<mat-checkbox labelPosition="before">
    befor label 
</mat-checkbox>
<br/>
<mat-checkbox color="primary">
    primary color
</mat-checkbox>
<br/>
<mat-checkbox color="warn">
    warn color
</mat-checkbox>

<hr>
<mat-radio-group>
    <mat-radio-button value="primary" color="primary"> Primary</mat-radio-button>
    <mat-radio-button value="accent" color="accent"> Accent</mat-radio-button>
    <mat-radio-button value="warn" color="warn"> Warn</mat-radio-button>
</mat-radio-group>
