<div class="mat-headline">Progress Bar Demo</div>
<hr>
<mat-progress-bar value="20"></mat-progress-bar>
<hr>
<div class="mat-title">Determinate Progress Bar Demo</div>
<mat-progress-bar mode="determinate" value="20" color="accent"></mat-progress-bar>

<hr>
<div class="mat-title"> Indeterminate Progress Bar Demo</div>
<mat-progress-bar mode="indeterminate" value="20" ></mat-progress-bar>

<hr>
<div class="mat-title"> Buffer Progress Bar Demo</div>
<mat-progress-bar mode="buffer" value="20" ></mat-progress-bar>
<hr>
<div class="mat-title"> Query Progress Bar Demo</div>
<mat-progress-bar mode="query" value="20" color="warn" ></mat-progress-bar>
<hr>
<div class="mat-title"> Configurable Progress Bar Demo</div>
<mat-progress-bar mode="buffer" value="20" ></mat-progress-bar>
<hr>
