<h6>Expansion Panel</h6>
<hr>
<mat-accordion multi="true" hideToggle>


<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Fundamentals
        </mat-panel-title>
        <mat-panel-description>
            Total Duration  : 3 hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p> Thisis the panel content. Add course Details.</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular MAterial
        </mat-panel-title>
        <mat-panel-description>
            Total Duration  : 2 hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p> Thisis the panel content. Add course Details.</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion>