<h6> Input Demo</h6>
<hr>
<mat-form-field floatLabel="always" hideRequiredMarker appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">
        Min 5 Characters
    </mat-hint>
</mat-form-field>
<br/>
<mat-form-field floatLabel="always" hideRequiredMarker appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">
        Min 5 Characters
    </mat-hint>
</mat-form-field>

<hr>
<mat-form-field floatLabel="always" hideRequiredMarker appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">
        Min 5 Characters
    </mat-hint>
</mat-form-field>
<br/>
<mat-form-field floatLabel="always" hideRequiredMarker appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">
        Min 5 Characters
    </mat-hint>
</mat-form-field>
<hr>
<mat-form-field floatLabel="always" hideRequiredMarker appearance="fill" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">
        Min 5 Characters
    </mat-hint>
</mat-form-field>
<br/>
<mat-form-field floatLabel="always" hideRequiredMarker appearance="outline" color="warn">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">
        Min 5 Characters
    </mat-hint>
</mat-form-field>

